<h3>Book Detail</h3>
<table>
  <tbody>
    <tr>
      <td>Title</td>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <td>Code</td>
      <td><%= @book.book_code %></td>
    </tr>
    <tr>
      <td>Publisher</td>
      <td><%= @book.publisher.name %></td>
    </tr>
    <tr>
      <td>Publisher Code</td>
      <td><%= @book.publisher.publisher_code %></td>
    </tr>
    <tr>
      <td>Chapters</td>
      <td>
        <ol>
          <% @book.chapters.each do |chapter| %>
            <li><%= chapter.title %></li>
          <% end %>
        </ol>
      </td>
    </tr>
  </tbody>
</table>
